* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    /* display: grid; */
    justify-content: center;
    align-items: center;
    background: #77A1D3;
    background: -webkit-linear-gradient(to right, #E684AE, #79CBCA, #77A1D3);
    background: linear-gradient(to right, #E684AE, #79CBCA, #77A1D3);

}

.enterDate {
    width: 500px;
    height: 400px;
    /* background: #003973; */
    /* background: -webkit-linear-gradient(to right, #E5E5BE, #003973); */
    /* background: linear-gradient(to right, #E5E5BE, #003973); */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(41, 41, 41);
}


#inputRealText,
#inputEncryptedDate {
    padding: 12px 25px;
    border: none;
    outline: none;
    border-bottom: 2px solid #E5E5BE;
    font-size: 18px;
    color: #E5E5BE;
    font-weight: 700;
    letter-spacing: 2px;
    background-color: transparent;
}



#toEncrypt,
#toEncrypt::after {
    padding: 10px 50px;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    color: white;
    background-color: transparent;
    position: relative;
}

#toEncrypt::after {
    --move1: inset(50% 50% 50% 50%);
    --move2: inset(31% 0 40% 0);
    --move3: inset(39% 0 15% 0);
    --move4: inset(45% 0 40% 0);
    --move5: inset(45% 0 6% 0);
    --move6: inset(14% 0 61% 0);
    clip-path: var(--move1);
    content: 'GLITCH';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: block;
}

#toEncrypt:hover::after {
    animation: glitch_4011 1s;
    text-shadow: 10 10px 10px black;
    animation-timing-function: steps(2, end);
    text-shadow: -3px -3px 0px #1df2f0, 3px 3px 0px #E94BE8;
    background-color: transparent;
    border: 3px solid rgb(172, 46, 172);
}

#toEncrypt:hover {
    text-shadow: -1px -1px 0px #1df2f0, 1px 1px 0px #E94BE8;
}

#toEncrypt:hover {
    background-color: transparent;
    border: 1px solid rgb(172, 46, 172);
    box-shadow: 0px 10px 10px -10px rgb(172, 46, 172);
}

@keyframes glitch_4011 {
    0% {
        clip-path: var(--move1);
        transform: translate(0px, -10px);
    }

    10% {
        clip-path: var(--move2);
        transform: translate(-10px, 10px);
    }

    20% {
        clip-path: var(--move3);
        transform: translate(10px, 0px);
    }

    30% {
        clip-path: var(--move4);
        transform: translate(-10px, 10px);
    }

    40% {
        clip-path: var(--move5);
        transform: translate(10px, -10px);
    }

    50% {
        clip-path: var(--move6);
        transform: translate(-10px, 10px);
    }

    60% {
        clip-path: var(--move1);
        transform: translate(10px, -10px);
    }

    70% {
        clip-path: var(--move3);
        transform: translate(-10px, 10px);
    }

    80% {
        clip-path: var(--move2);
        transform: translate(10px, -10px);
    }

    90% {
        clip-path: var(--move4);
        transform: translate(-10px, 10px);
    }

    100% {
        clip-path: var(--move1);
        transform: translate(0);
    }
}